.modal.hide#add-form
  .modal-body
    = form_for Feed.new, :remote => true do |f|
      .input
        = f.label :original_location, "Feed URL: " 
        = f.text_field :original_location
      Or upload a google reader OPML file...
      .input
        = label_tag "File: "
        = file_field_tag "google_opml"
      = f.submit :class => 'btn primary'
  .modal-footer
