!!!
%html
  %head
    %title Reader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js", "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.0/backbone-min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .flashes
      = notice
      = alert
    = yield
